<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Signup your account</title>
</head>

<body>
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
            <div class="flex justify-center">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M18 10.5C19.6569 10.5 21 11.8431 21 13.5V19.5C21 21.1569 19.6569 22.5 18 22.5H6C4.34315 22.5 3 21.1569 3 19.5V13.5C3 11.8431 4.34315 10.5 6 10.5V7.5C6 4.18629 8.68629 1.5 12 1.5C15.3137 1.5 18 4.18629 18 7.5V10.5ZM12 3.5C14.2091 3.5 16 5.29086 16 7.5V10.5H8V7.5C8 5.29086 9.79086 3.5 12 3.5ZM18 12.5H6C5.44772 12.5 5 12.9477 5 13.5V19.5C5 20.0523 5.44772 20.5 6 20.5H18C18.5523 20.5 19 20.0523 19 19.5V13.5C19 12.9477 18.5523 12.5 18 12.5Z"
                        fill="currentColor" />
                </svg>
            </div>
            <h3 class="text-2xl font-bold text-center">Signup a new account</h3>
            <form action="/signup" method="POST">
                {% csrf_token %}
                <div class="mt-4">
                    <div>
                        <label class="block" for="user-id">User Id<label>
                                <input type="text" name="username" placeholder="User Id"
                                    class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">

                    </div>
                    <div class="mt-4">
                        <div>
                            <label class="block" for="fname">First Name<label>
                                    <input type="fname" name="fname" placeholder="First Name"
                                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                                        <label class="block" style="margin-top:5px" for="lname">Last Name<label>
                                            <input type="name" name="lname" placeholder="Last Name"
                                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">

                        </div>
                        <div class="mt-4">
                            <div>
                                <label class="block" for="user-id">Email<label>
                                        <input type="email" name="email" placeholder="Email"
                                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
        
                            </div>
                        <div class="mt-4">
                            <label class="block">Password<label>
                                    <input type="password" name="password1" placeholder="Password"
                                        class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                                    <label class="block"><label>
                                            <input type="password" name="password2" placeholder="Confrim Password"
                                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">

                        </div>
                        <div class="flex items-baseline justify-between">

                            <button class="px-6 py-2 mt-2 text-white bg-red-600 rounded-lg hover:bg-red-900">Signup</button>
                            <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900"><a
                                    href="/login">Login</a></button>
                            <a href="/admin_login" class="text-sm text-blue-600 hover:underline">Admin Login</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</body>

</html>