<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Welcome {{request.user}}</title>
</head>


<body>

  <nav class="navbar navbar-light bg-light justify-content-center">
    <span class="navbar-brand mb-0 h1 ">Hello {{request.user}}</span>
  </nav>
  <div class="container-fluid justify-content-center">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar mx-5 justify-content-center">
          <button type="button" class="btn btn-primary btn-lg px-5"><a href="/admin_home">Home</a></button>
        </ul>
        <ul class="nav nav-sidebar justify-content-center">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-4">Add Apps</button>
        </ul>
        <ul class="nav nav-sidebar justify-content-center">
          <button  type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/logout">Logout</a></button>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        
      </div>
    </div>
  </div>

  <style>
    .sidebar {
      align-items: centre;
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #8aabc1;
      border-right: 1px solid #eee;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type=number] {
      -moz-appearance: textfield;
  }
</style>




  <div class="container">
    <form action="/add_apps" method="POST">
      {% csrf_token %}
    <div class="form-row " style="margin-left:150px; margin-top:30px">
      <div class="col">
        <input type="text" class="form-control" name="app_name" placeholder="App Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="app_link" placeholder="App Link">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-row " style="margin-left:150px; margin-top:20px">
      <div class="col">
        <input type="text" class="form-control" name="app_catagory" placeholder="App Catagory">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="sub_catagory" placeholder="Sub Catagory">
      </div>
    </div>
  </div>
    </div>
  </div>
  <div class="container">
    <div class="form-group" style="margin-left:570px; width:120px ; margin-top:20px">
      <input type="number" style="text-align: center;" class="form-control" id="formGroupExampleInput" name="add_points" placeholder="ADD POINTS">
      <button type="submit" style="width:120px; margin-top:10px" class="btn btn-outline-danger ">SUBMIT</button>
    </div>
  </div> 




</body>

</html>

