<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Welcome {{request.user}}</title>
</head>


<body>

  <nav class="navbar navbar-light bg-light justify-content-center">
    <span class="navbar-brand mb-0 h1 ">Hello {{request.user}}</span>
  </nav>
  <div class="container-fluid justify-content-center">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar mx-5 justify-content-center">
          <button type="button" class="btn btn-primary btn-lg px-5">Home</button>
        </ul>
        <ul class="nav nav-sidebar justify-content-center">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/add_apps">Add Apps</a></button>
        </ul>
        <ul class="nav nav-sidebar justify-content-center">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/logout">Logout</a></button>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      </div>
    </div>
  </div>

  <style>
    .sidebar {
      align-items: centre;
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #8aabc1;
      border-right: 1px solid #eee;
    }

    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>



  {%for i in add_apps%}
  <div class="container">
    <div class="card" style="margin-left:200px; margin-top:20px">
      <!-- <div class="card-body" > -->
      <a href="/delete/{{i.app_name}}" style="text-align:center; margin-top:10px;width:120px;margin-left:700px;" class="btn btn-danger">Delete</a>
      <h4 class="card-title" style="margin-left:15px">Name: {{i.app_name}}</h4>
      {% comment %} <a href="/edit/{{i.app_name}}" style="text-align:center; margin-top:10px;width:120px;margin-left:700px;" class="btn btn-warning">Edit</a>     {% endcomment %}
      <h5 class="card-title" style="margin-left:15px">Link: {{i.app_link}}</h5>
        <input type="number" style="text-align:center;margin-bottom:10px; width:120px;margin-left:700px;" class="form-control"
        id="formGroupExampleInput" name="add_points" placeholder="{{i.app_points}} POINTS" readonly>
    <!-- </div> -->

  </div>
  </div>

  {%endfor%}


</body>

</html>