<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Welcome {{request.user}}</title>
</head>


<body>

  <nav class="navbar navbar-light bg-light justify-content-center">
    <span class="navbar-brand mb-0 h1 ">Hello {{request.user}}</span>
  </nav>
  <div class="container-fluid justify-content-center">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar mx-5 justify-content-center">
          <button type="button" class="btn btn-primary btn-lg px-5"><a href="/user_home">Home</a></button>
        </ul>
        <ul class="nav nav-sidebar mx-5 justify-content-center">
            <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/profile">Profile</a></button>
          </ul>
          <ul class="nav nav-sidebar mx-5 justify-content-center">
            <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/points">Points</a></button>
          </ul>
        <ul class="nav nav-sidebar justify-content-center">
          <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/tasks">Tasks</a></button>
        </ul>
        <ul class="nav nav-sidebar justify-content-center">
          <button  type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/logout">Logout</a></button>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        
      </div>
    </div>
  </div>

  <style>
    .sidebar {
      align-items: centre;
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #8aabc1;
      border-right: 1px solid #eee;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
  }

</style>


<div class="container">
  <form action="" method="POST" enctype="multipart/form-data">
  <div class="card" style="margin-left:190px; margin-top:30px;">
      <div class="card-body">
        <h4 style="margin-left:11px ;" class="card-title">{{app_details.app_name}}</h4>
        <a href="#" class="btn btn-link">{{app_details.app_link}}</a>
      <input name="apppoints" style="margin-left:700px; text-align:center;width:120px;" class="btn btn-success" value="{{app_details.app_points}}" readonly>
      <input style="width:1px;height:1px;border:1px;border-color: black" name="username" value={{request.user}}>
      <input style="width:1px;height:1px;border:1px;border-color: black" name="appname" value={{app_details.app_name}}>
      <input style="width:1px;height:1px;border:1px;border-color: black" name="applink" value={{app_details.app_link}}>
      <button style="margin-left:11px; font-size:12px; width:70px; height:30px" class="btn btn-warning">SUBMIT</button>

      <div class="drop-zone">
        <span class="drop-zone__prompt">Upload Screenshots to complete the TASK.</span>
        <input type="file" name="myfile" class="drop-zone__input">
      </div>
    
<style>
  .drop-zone {
  margin-top: 70px;
  margin-left: 20px;
  max-width: 840px;
  height: 400px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
</style>

<script>

document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
  const dropZoneElement = inputElement.closest(".drop-zone");

  dropZoneElement.addEventListener("click", (e) => {
    inputElement.click();
  });

  inputElement.addEventListener("change", (e) => {
    if (inputElement.files.length) {
      updateThumbnail(dropZoneElement, inputElement.files[0]);
    }
  });

  dropZoneElement.addEventListener("dragover", (e) => {
    e.preventDefault();
    dropZoneElement.classList.add("drop-zone--over");
  });

  ["dragleave", "dragend"].forEach((type) => {
    dropZoneElement.addEventListener(type, (e) => {
      dropZoneElement.classList.remove("drop-zone--over");
    });
  });

  dropZoneElement.addEventListener("drop", (e) => {
    e.preventDefault();

    if (e.dataTransfer.files.length) {
      inputElement.files = e.dataTransfer.files;
      updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
    }

    dropZoneElement.classList.remove("drop-zone--over");
  });
});

/**
 * Updates the thumbnail on a drop zone element.
 *
 * @param {HTMLElement} dropZoneElement
 * @param {File} file
 */
function updateThumbnail(dropZoneElement, file) {
  let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

  // First time - remove the prompt
  if (dropZoneElement.querySelector(".drop-zone__prompt")) {
    dropZoneElement.querySelector(".drop-zone__prompt").remove();
  }

  // First time - there is no thumbnail element, so lets create it
  if (!thumbnailElement) {
    thumbnailElement = document.createElement("div");
    thumbnailElement.classList.add("drop-zone__thumb");
    dropZoneElement.appendChild(thumbnailElement);
  }

  thumbnailElement.dataset.label = file.name;

  // Show thumbnail for image files
  if (file.type.startsWith("image/")) {
    const reader = new FileReader();

    reader.readAsDataURL(file);
    reader.onload = () => {
      thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
    };
  } else {
    thumbnailElement.style.backgroundImage = null;
  }
}

</script>


    </div>
  </div>
</div>





</body>

</html>

