<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Welcome {{request.user}}</title>
</head>


<body>

    <nav class="navbar navbar-light bg-light justify-content-center">
        <span class="navbar-brand mb-0 h1 ">Hello {{request.user}}</span>
    </nav>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar mx-5 justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg px-5"><a href="/user_home">Home</a></button>
                </ul>
                <ul class="nav nav-sidebar mx-5 justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a
                            href="/profile">Profile</a></button>
                </ul>
                <ul class="nav nav-sidebar mx-5 justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/points">Points</a></button>
                </ul>
                <ul class="nav nav-sidebar justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/tasks">Tasks</a></button>
                </ul>
                <ul class="nav nav-sidebar justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg px-5 mt-4"><a href="/logout">Logout</a></button>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            </div>
        </div>
    </div>

    <style>
        .sidebar {
            align-items: centre;
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #8aabc1;
            border-right: 1px solid #eee;
        }

        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            color: inherit;
        }
    </style>



    <div class="container">
        <div class="container-xl px-4 mt-4" style="margin-left:300px">
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Your Profile</div>
                    <div class="card-body">
                        <form>
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">User Id</label>
                                <input class="form-control" id="inputUsername" type="text"
                                    placeholder="Enter your username" value="{{request.user}}"readonly> 
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" type="text"
                                        placeholder="Enter your first name" value="{{request.user.first_name}}" readonly>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" type="text"
                                        placeholder="Enter your last name" value="{{request.user.last_name}}" readonly>
                                </div>
                            </div>
                            <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (organization name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Joining Time</label>
                                    <input class="form-control" id="inputOrgName" type="text"
                                        placeholder="Enter your organization name" value="{{request.user.date_joined}}" readonly>
                                </div>
                                <!-- Form Group (location)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Last Login</label>
                                    <input class="form-control" id="inputLocation" type="text"
                                        placeholder="Enter your location" value="{{request.user.last_login}}" readonly>
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" id="inputEmailAddress" type="email"
                                    placeholder="Enter your email address" value="{{request.user.email}}" readonly>
                            </div>
                            
                            
                                </div>
                            </div>
                                                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




</body>

</html>